<!DOCTYPE html>
<html lang="uk">
<head>
    {% block head %}{% endblock %}
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Library 24/7</title>
    <style>
        body {
          background-color: #ffffff;
        }
    </style>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/img/favicon.png') }}">
</head>
<body>
    <nav class="navbar navbar-light bg-dark">
        <a style="color: white;" href="/" class="navbar-brand">
            <img src="{{ url_for('static', path='/img/favicon.png') }}" class="d-inline-block align-top" width="30" height="30" alt="">
            Library 24/7
        </a>
        <div class="form-inline my-2 my-lg-0">
            <a style="color: white;" href="http://127.0.0.1:8000/library" class="navbar-brand mb-0 h1">Бібліотека</a>
            {% if user %}
                <a style="color: white;" href="http://127.0.0.1:8000/profile" class="navbar-brand mb-0 h1">Мій профіль</a>
                <a style="color: white;" href="http://127.0.0.1:8000/logout" class="navbar-brand mb-0 h1">Вихід</a>
            {% else %}
                <a style="color: white;" href="http://127.0.0.1:8000/login" class="navbar-brand mb-0 h1">Авторизація</a>
            {% endif %}
            <p style="color: white;" class="navbar-brand mb-0 h1" id="displayTime"></p>

            <script>
                function updateTime() {
                    var timeDisplay = document.getElementById('displayTime');
                    var currentDate = new Date();
                    var formattedTime = currentDate.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', second: '2-digit'});
                    timeDisplay.textContent = formattedTime;
                }

                updateTime();

                setInterval(updateTime, 1000);
            </script>
        </div>
    </nav>
</body>
{% block content %}
    <div class="container-info">
        <div class="user-profile rounded">
            <h1 class="display-4 center" style="font-size: 45px; margin: 50px;">Топ 10 найкращих книг за версію користувачів</h1>
            <div class="books-container" style="margin-top: 80px;">
                {% for book in books %}
                {% set lst = [] %}
                {% for library_obj in library %}
                    {% if library_obj['book_id'] == book['id'] %}
                        {% set result = lst.append(library_obj['rating']) %}
                    {% endif %}
                {% endfor %}
                {% if (lst|sum / lst|length)|round(3) >= 4 %}
                    <div class="book-info rounded">
                        <div class="book-image">
                            <img src="{{ book['image'] }}" style="width:165px;height:240px;" alt="Book hardcover">
                        </div>
                        <div class="book-details">
                            <h1 style="font-size: 33px; margin-bottom: 25px;" class="display-4 title">{{ book['title'] }}</h1>
                            <h6 class="description">{{ book['description'] }}</h6>
                            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
                            <link href="{{ url_for('static', path='/css/stars.css') }}" rel="stylesheet">
                            <hr style="height: 1px; border-width: 0 ; color: gray; background-color: gray">
                            <p style="margin-top: 20px; font-size: 17px;" class=" owner-id">Середній рейтинг книги серед користувачів: {{ (lst|sum / lst|length)|round(3) }} <span class="fa fa-star icon"></span></p>
                            <p style="font-size: 17px;" >Користувачів оцінило книгу: {{ lst|length }} <i class="fa fa-user" style="color: grey;"></i></p>
                            <button class="btn btn-outline-secondary btn-sm" id="buttons-profile" onclick="window.open('{{ book['url'] }}','_blank')" type="button">
                                Читати цю книгу
                            </button>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
<div class="container" style="padding: 25px;">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-1 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© Made by StanislavJPG</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg width="40" height="32"><use xlink:href="#home"></use></svg>
        <img src="{{ url_for('static', path='/img/home.png') }}" class="d-inline-block align-top" width="40" height="40" alt="">
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="https://github.com/StanislavJPG/" target="_blank" class="nav-link px-2 text-muted">
          <img width="34" height="33" src="{{ url_for('static', path='/img/github-mark.png') }}"></a></li>
    </ul>
    </footer>
</div>