<!DOCTYPE html>
<html lang="uk">
<head>
    {% block head %}{% endblock %}
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Головна сторінка</title>
    <style>
        body {
          background-color: #ffffff;
        }
    </style>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/img/favicon.png') }}">
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a href="http://127.0.0.1:8000/" class="navbar-brand">
            <img src="{{ url_for('static', path='/img/logo.png') }}" class="d-inline-block align-top" width="30" height="30" alt="">
            Your helper 24/7
        </a>
        <div class="form-inline my-2 my-lg-0">
            <a href="http://127.0.0.1:8000/weather" class="navbar-brand mb-0 h1">Погода</a>
            <a href="http://127.0.0.1:8000/library" class="navbar-brand mb-0 h1">Бібліотека</a>
            {% if user %}
                <a href="http://127.0.0.1:8000/profile" class="navbar-brand mb-0 h1">Мій профіль</a>
                <a href="http://127.0.0.1:8000/logout" class="navbar-brand mb-0 h1">Вихід</a>
            {% else %}
                <a href="http://127.0.0.1:8000/login" class="navbar-brand mb-0 h1">Авторизація</a>
            {% endif %}
            <p class="navbar-brand mb-0 h1" id="displayTime"></p>

            <script>
                function updateTime() {
                    var timeDisplay = document.getElementById('displayTime');
                    var currentDate = new Date();
                    var formattedTime = currentDate.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', second: '2-digit'});
                    timeDisplay.textContent = formattedTime;
                }

                updateTime();

                setInterval(updateTime, 1000);
            </script>
        </div>
    </nav>
</body>
{% block content %}
    <div class="container-info">
        <div class="user-profile rounded">
            <h1 class="center" style="margin: 50px;">Топ 10 найкращих книг за версію користувачів</h1>
            <div class="books-container" style="margin-top: 80px;">
                {% for book in books %}
                    <div class="book-info rounded">
                        <div class="book-image">
                            <img src="{{ book['image'] }}" style="width:220px;height:310px;" alt="Book hardcover">
                        </div>
                        <div class="book-details">
                            <p><b class="title">«{{ book['title'] }}»</b></p>
                            <p><strong class="description">{{ book['description'] }}</strong></p>
                            <p class="owner-id">{{ book['owner_id'] }}</p>
                            <button class="btn btn-dark" id="buttons-profile" onclick="window.open('{{ book['url'] }}','_blank')" type="button">
                                Читати «{{ book['title'] }}»
                            </button>
                            <div class="rating-section">
                                {% if book['user_rating'] is not none %}
                                    <p class="rating">Рейтинг книги: {{ book['user_rating'] }} <span class="fa fa-star icon"></span></p>
                                {% else %}
                                    <p class="rating">Ви ще не оцінювали цю книгу</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}