{% extends "base.html" %}

{% block head %}
    <title>Бібліотека</title>
    <script src="/static/javascript/book_url.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="search-header">
        <h1 class="display-4">Пошук літератури українською!</h1>
    </div>

    <div id="outPop">
        <div class="search-form">
            <input type="text" class="form-control" style="width: 400px;" id="book_id" placeholder="Введіть книжку"/>
            <div class="center">
                <button class="btn btn-dark" onclick="SimpleSearchForLiterature()">Пошук</button>
            </div>
        </div>

        {% if book %}
        <div class="main-search-results" style="margin-bottom: 80px;">
            <h1 class="display-4" style="font-size: 20px; margin-top: 10px;">Ви ввели: {{ user_title }} </h1>
            <h1 class="display-4" style="font-size: 25px; margin-top: 30px;">Результів пошуку: {{ book['urls']|length }} </h1>
                <div class="search-results">
                    <div class="result-info">
                        <h1 style="font-size: 40px;" class="display-4">«{{ book['title'] }}»</h1>
                        <h1 style="margin-top: 20px; font-size: 20px;" class="display-4">
                        {{ book['description'] }}
                        </h1>
                        <div style="margin-top: 25px; cursor: pointer;" class="readButton">
                            <img src="{{ book['image'] }}" id="book-hardcover" alt="Book hardcover">
                        </div>
                </div>
                <hr style="height: 1px; border-width : 0 ;color: gray; background-color: gray">
                {% if user %}
                <p class="h6">
                    Якщо бажаєте читати книги швидко, та не шукати їх знову - зберігайте їх до вашого профілю!
                </p>
                {% else %}
                <p class="h6">
                    Якщо бажаєте читати книги швидко, та не шукати їх знову - <a style="text-decoration: underline; color: black;" href="http://127.0.0.1:8000/login">Авторизуйтесь</a> та зберігайте їх до вашого профілю!
                </p>
                {% endif %}

                <div class="button-container" style="margin-bottom: 18px;">
                    <b class="btn btn-dark readButton" style="width: 400px;">Читати книги «{{ book['title'] }}»</b>
                </div>
                    <script src="/static/javascript/save_db_script.js"></script>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
