{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', path='/css/auth.css') }}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <title>Вихід з профілю</title>
{% endblock %}

{% block content %}
{% if user %}
    <div class="rounded container-auth">
        <div class="search-header-auth">
            <h1 class="text-muted">Ви бажаєте вийти з профілю?</h1>
        </div>
        <button id="logOut" class="btn btn-dark">Так, вийти з профілю</button>
        <script src="/static/javascript/auth.js"></script>
        <button onclick="location.href='http://127.0.0.1:8000/'" class="btn btn-dark">Ні, залишитись на сайті</button>
    </div>
{% else %}
    <div style="margin-top: 350px; text-align: center; font-size: 40px;">
        <b style="font-style: oblique;">Оп-ля... <img src="/static/img/error.png" style="width: 170px;"></b>
        <p style="font-weight: bold; font-style: oblique;">403...</p>
    </div>
{% endif %}
{% endblock %}
