{% extends "base.html" %}

{% block head %}
<title xmlns="http://www.w3.org/1999/html">Профіль</title>
{% endblock %}

{% block content %}
<div id="userProfile" style="margin-left: 650px;" class="rounded">
    <div class="profileImage">
        {% if profile_image is not none %}
        <img src="http://127.0.0.1:8000/static/images/{{ profile_image }}" class="uploadButton photo">
        {% else %}
        <img src="{{ url_for('static', path='/img/capture.png') }}" class="uploadButton photo">
        {% endif %}
        <input type="file" id="file">
        <label for="file" id="upload-btn"><img class="profileImageDefaultBtn" src="{{ url_for('static', path='/img/user.png') }}"></label>
        <script src="/static/javascript/index.js"></script>
    </div>
<div>
    <h1 class="text-muted">{{ user.username }}</h1>
    {% if admin %}
         <button onclick="window.location.href = '/admin_panel'" class="btn btn-dark btn-sm" style="margin-bottom: 10px;">Адмінка</button>
    {% endif %}
    <p><strong>Пошта:</strong> {{ user.email }}</p>
    {% if user.is_verified %}
    <strong>Пошта підтверджена</strong>
    {% else %}
    <p>Пошта не підтверджена: <button style="margin-bottom: 7px" id="showPopupButton" class="btn btn-dark">Підтвердити пошту</button></p>
    <div id="popupContainer" class="popup-container">
        <div class="popup-content">
            <span class="close" id="closePopup">&times;</span>
            <h2 style="text-align: center; margin-bottom: 15px;">Підтвердження пошти</h2>
            <div style="text-align: center;">
                <input id="token" type="password" class="form-control" placeholder="Вставте ваш код підтвердження з пошти">
                <div style="margin-top: 10px;">
                <button style="font-weight:bold; margin-top: 15px;" class="btn btn-dark"
                        onclick="acceptVerificationEmail(document.getElementById('token').value)"> Підтвердити</button>
                </div>
                <p style="margin-top: 15px;">Щоб відправити код підтвердження на пошту натисність: </p>
                <button onclick="sendVerificationEmail('{{ user.email }}')" class="btn btn-dark"> Відправити код підтвердження на пошту</button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script>
    document.getElementById("showPopupButton").addEventListener("click", function() {
        document.getElementById("popupContainer").style.display = "block";
    });
    document.getElementById("closePopup").addEventListener("click", function() {
        document.getElementById("popupContainer").style.display = "none";
    });
</script>

<div class="container_info" style="justify-content: center;">
    <div class="userProfile rounded" style="text-align: center;">
        <div class="search-form">
            <script>
                const searchForOperations = () => {
                    const searchInputValue = document.getElementById("book_id").value;
                    window.location.href = `/profile?book_name=${searchInputValue}`;
                }
            </script>
            <h1 style="font-size: 40px; margin-bottom: 15px;" class="display-4">Збережені книги</h1>
                <h1 style="font-size: 18px; margin-bottom: 15px;" class="display-4">Сторінка {{ page }}</h1>
                <input type="text" class="form-control" id="book_id" placeholder="Знайти книгу..."/>
                <div class="center">
                    <button class="btn btn-dark btn-sm" id="search_btn" onclick="searchForOperations()">Пошук</button>
                    <script>
                        var input = document.getElementById("book_id");
                        input.addEventListener("keypress", function(event) {
                          if (event.key === "Enter") {
                            event.preventDefault();
                            document.getElementById("search_btn").click();
                          }
                        });
                </script>
                </div>
                <div style="margin-top: 5px; margin-bottom: 10px;">
                    <button onclick="window.location.href='/profile'" class="btn btn-dark btn-sm">Скинути пошук</button>
                </div>
        </div>
            <div class="books-container">
                {% for book in books_in_profile %}
                    <div class="book-info rounded" style="width: 800px;">
                        <div>
                            <div style="text-align: center;" class="clickable_img" onclick="window.open('{{ book['url'] }}')">
                                <img src="{{ book['image'] }}" alt="Book hardcover" style="width:180px;height:260px;">
                            </div>
                        </div>
                        <div class="book-details">
                            <h1 style="font-size: 28px;" class="display-4">{{ book['title'] }}</h1>
                            <p style="margin-top: 20px; font-size: 17px;">{{ book['description'] }}</p>
                            <hr style="height: 1px; border-width: 0 ; color: gray; background-color: gray; width: 530px;">
                            <button class="btn btn-outline-dark" id="buttonsProfile" onclick="window.open('{{ book['url'] }}','_blank')" type="button">Читати {{ book['title'] }}</button>
                            <p style="margin-top: 10px;"><button onclick='deleteBook("{{ book["id"] }}")' class="btn btn-outline-secondary btn-sm">Видалити цю книгу з мого профілю</button></p>
                            <div style="margin-top: 15px;">
                                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
                                <link href="{{ url_for('static', path='/css/stars.css') }}" rel="stylesheet">
                                {% set lst = [] %}
                                {% for library_obj in library %}
                                {% if library_obj['book_id'] == book['id'] %}
                                    {% set result = lst.append(library_obj['rating']) %}
                                {% endif %}
                                {% endfor %}
                            {% if lst[0] is not none %}
                                <p style="font-size: 17px;">Ви оцінили цю книгу на: {{ lst[0] }} <span class="fa fa-star icon"></span></p>
                            {% else %}
                                <p style="font-size: 17px;">Ви ще не оцінювали цю книгу</p>
                            {% endif %}
                            </div>
                            <script src="/static/javascript/index.js"></script>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if true %}
            {% if books_in_profile|length > 2 %}
                <div style="text-align: center;">
                    <button onclick="window.location.href = `/profile?page={{ page + 1 }}`" class="btn btn-dark btn-sm">Далі</button>
                </div>
            {% endif %}
        {% if page > 1 %}
            <button onclick="window.location.href = `/profile?page={{ page - 1 }}`" class="btn btn-dark btn-sm">Назад</button>
        {% endif %}
        {% endif %}
    </div>
    <div class="userProfile rounded">
        <div class="search-form">
            <div class="center">
                <h1 style="font-size: 40px; margin-bottom: 15px;" class="display-4">Історія оцінок книг</h1>
                {% if books_not_in_profile|length != 0 %}
                <h1 style="font-size: 18px; margin-bottom: 15px;" class="display-4">Останні 10 книг:</h1>
            </div>
        </div>
        <div style="flex-direction: column; display: flex;">
            <div class="book-details">
                {% for book in books_not_in_profile %}
                    <div class="book-info rounded" style="margin-bottom: 20px; width: 750px; display: flex; justify-content: center;">
                        <div class="clickable_img" onclick="window.open('{{ book['url'] }}')">
                            <img src="{{ book['image'] }}" alt="Book hardcover" style="padding:10px;width:140px;height:190px;">
                        </div>
                        <div class="book-details" style="text-align: center;">
                            <h1 style="font-size: 28px;" class="display-4">{{ book['title'] }}</h1>
                            <div style="margin-top: 15px;">
                                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
                                <link href="{{ url_for('static', path='/css/stars.css') }}" rel="stylesheet">
                                {% set lst = [] %}
                                {% for library_obj in library %}
                                {% if library_obj['book_id'] == book['id'] %}
                                    {% set result = lst.append(library_obj['rating']) %}
                                {% endif %}
                                {% endfor %}
                                <p style="font-size: 17px;">Ви оцінили цю книгу на: {{ lst[0] }} <span class="fa fa-star icon"></span></p>
                                <button class="btn btn-outline-dark btn-sm" onclick="saveBookFromProfile('{{ book['id'] }}')">Зберегти цю книгу до мого профілю</button>
                                <p style="margin-top: 10px;"><button onclick='deleteBook("{{ book["id"] }}")' class="btn btn-outline-secondary btn-sm">Видалити цю книгу повністю (Ваша оцінка книги онулюється)</button></p>
                                <script src="/static/javascript/save_db_script.js"></script>
                            </div>
                            <script src="/static/javascript/index.js"></script>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                    <h1 style="font-size: 18px; margin-bottom: 15px;" class="display-4">Історія книг порожня</h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
