<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/img/favicon.png') }}">
  <link rel="shortcut icon" href="#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <title>{{ num }}. {{ title }}</title>
    <style>
    .body {
      text-align: center;
    }
  </style>
</head>
<body style="background-color:#323639; overflow: hidden;">
<div class="body">

  <button id="Back" class="btn btn-light btn-sm" onclick="incrementNum_back()">⠺ Попередній варіант книги</button>
  <button class="btn btn-success btn-sm" onclick="toggleFullscreen()"> ⠿ Повноекранний режим</button>
  {% if user %}
    <button data-book-index="{{ num }}" class="btn btn-primary btn-sm saveButton">⠳ Зберегти цю книгу до мого профілю</button>
  {% endif %}
  <script src="/static/javascript/save_db_script.js"></script>
  <button id="Next" class="btn btn-light btn-sm" onclick="incrementNum()">Наступний варіант книги ⠗</button>
  <script src="/static/javascript/book_switcher.js"></script>

  <div style="margin-top: 5px;">
    <button class="btn btn-secondary btn-sm Button" style="width: 400px;" onclick="window.open('{{ book }}', '_blank')">⠵ Не працює книга на сайті? - читайте її з джерела!</button>
  </div>

</div>

<embed
    id="pdfEmbed"
    src="{{ book }}"
    type="application/pdf"
    width="100%"
    {% if user %}
      height="803px"
    {% else %}
      height="900px"
    {% endif %}
/>
<script src="/static/javascript/book_switcher.js"></script>
{% if user %}
    <div class="rating" style="margin-bottom: 50px;">
      <b style="color: white; padding-right: 20px;">Спободалась книга? Оцініть її зірками, щоб інші теж зацінили! :)</b>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
      <link href="{{ url_for('static', path='/css/stars.css') }}" rel="stylesheet">

    <form id="ratingForm">
      <label>
        <input type="radio" name="starsSet2" class="rating" value="1" />
        <span class="fa fa-star icon"></span>
      </label>
      <label>
        <input type="radio" name="starsSet2" class="rating" value="2" />
        <span class="fa fa-star icon"></span>
        <span class="fa fa-star icon"></span>
      </label>
      <label>
        <input type="radio" name="starsSet2" class="rating" value="3" />
        <span class="fa fa-star icon"></span>
        <span class="fa fa-star icon"></span>
        <span class="fa fa-star icon"></span>
      </label>

      <label>
        <input type="radio" name="starsSet2" class="rating" value="4" />
        <span class="fa fa-star icon"></span>
        <span class="fa fa-star icon"></span>
        <span class="fa fa-star icon"></span>
        <span class="fa fa-star icon"></span>
      </label>
      <label>
        <input type="radio" name="starsSet2" class="rating" value="5" />
        <span class="fa fa-star icon"></span>
        <span class="fa fa-star icon"></span>
        <span class="fa fa-star icon"></span>
        <span class="fa fa-star icon"></span>
        <span class="fa fa-star icon"></span>
      </label>
      <p style="margin-top: 4px;">
        <button type="button" onclick="confirmRating('{{ book }}')" class="btn btn-dark btn-sm">Зберегти оцінку</button>
      </p>
    </form>
    </div>
{% endif %}
</body>
</html>
