{% extends "base.html" %}
{% block head %}
    <title>Погода</title>
    <script src="/static/javascript/book_url.js"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Прогноз погоди</h1>
    </div>

    <div id="outPop">
        <div class="search-form">
            <input type="text" class="form-control" id="city_id" placeholder="Введіть місто"/>
            <div class="center">
                <button class="btn btn-dark" onclick="searchForWeather()">Пошук</button>
            </div>
        </div>

        {% if city %}
        <div class="weather-info">
            <b>
                <p class="text-base font-bold">Місто: {{ city['City'] }}</p>
            </b>
            <p class="text-base font-bold">Погода: {{ city['Description'] }}</p>
            <p class="text-base font-bold">Температура: {{ city['Temperature'] }}</p>
            <p class="text-base font-bold">Відчувається як: {{ city['Feels_like'] }}</p>
            <p class="text-base font-bold">Тиск: {{ city['Pressure'] }} Паскаль</p>
            <p class="text-base font-bold">Вологість: {{ city['Humidity'] }} %</p>
            <p class="text-base font-bold">Довгота: {{ city.get('Weather') and city.get('Weather').get('coord') and city.get('Weather').get('coord').get('lon') }}</p>
            <p class="text-base font-bold">Широта: {{ city.get('Weather') and city.get('Weather').get('coord') and city.get('Weather').get('coord').get('lat') }}</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}