.container {
    text-align: center;
    margin-top: 50px;
}

#userProfile {
    border: 1px solid #ccc;
    padding: 15px;
    width: 700px;
    margin: 100px;
    text-align: left;
    display: flex;
    align-items: center;
}

#buttonsProfile {
    white-space: normal;
    word-wrap: break-word;
}

.userProfile {
    border: 1px solid #ccc;
    padding: 15px;
    width: 700px;
    margin: 100px;
    text-align: left;
    align-items: center;
    margin-top: 10px;
}


.container_info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.search-header {
    font-size: 300%;
    white-space: nowrap;
}

.search-form {
    text-align: center;
    margin-top: 30px;

}

#book_id {
    width: 200px;
    margin: 0 auto;
}

#city_id {
    width: 200px;
    margin: 0 auto;
}

.btn-dark {
    margin-top: 5px;
}

.center {
    text-align: center;
    margin-top: 10px;
}

.main-search-results {
    text-align: center;
    padding: 15px;
}

.search-results {
    text-align: center;
    margin-top: 20px;
    border: 2px solid #525252;
    padding: 15px;
    border-radius: 5px;
}

.result-info {
    text-align: center;
}


.image_library {
    margin-top: 10px;
    margin-bottom: 10px;
    align: justify;
    text-align: center;
}

#book-hardcover {
    width: 230px;
    height: 330px;
}

.text-base {
    font-size: 1rem;
}

.font-bold {
    font-weight: bold;
}

.button-container {
    margin-top: 20px;
}

.readButton {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-info {
    border: 2px solid #ccc;
    margin: 10px;
    padding: 15px;
    max-width: 480px;
    text-align: center;
}

.book-details {
    margin-top: 10px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

.header-buttons {
    margin-right: 5px;
}

#imageUpload
{
    display: none;
}

.profileImage {
    width: 170px;
    height: 130px;
    border-radius: 50%;
}

.profileImageDefaultBtn {
    width: 27px;
    height: 26px;
}

.photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-top: 15px;
}

#file{
    display: none;
}

#upload-btn{
    position: absolute;
    height: 40px;
    width: 40px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #FFF;
    transform: translateX(-90%);
    margin-top: 85px;
    background-color: rgb(173, 172, 172, 0.801);
    box-shadow: 2px 4px 4px rgs(0, 0, 0, 0.644);
}

body {
    font-family: Arial, sans-serif;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.navbar-brand {
    color: white;
}
